@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
    background-color: #f1f1ff;
    color: #0f141e;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-family:Arial, Helvetica, sans-serif;
}